import sys

db ={}

if sys.platform == 'win32':
    db['host'] = 'localhost'
else:
    db['host'] = 'some.db.server.you.want.to access'

db['database'] = 'facturador.db'
db['user'] = 'faturador.user'
db['password'] = 'facturador.user.password'
db['port'] = 5432
